<% provide :title, t(".title") %>
<h1><%= t ".title" %></h1>
<p>
  <%= t("website") %>: <%= link_to t("website"), Settings.ruby_homepage_link %>
</p>
<p>
  <%= t("contact") %>: <%= link_to t("contact"), Settings.ruby_contactpage_link %>
</p>
