<hr>
<div class="center jumbotron">
  <h1><%= t ".title" %></h1>
  <%= link_to image_tag("rails.png", alt: "Rails logo"), Settings.ruby_homepage_link %>
  <p>
    <%= t "website" %>: <%= link_to t("website"), Settings.ruby_homepage_link %>
  </p>
  <%= link_to t("log_in"), signup_path, class: "btn btn-lg btn-primary" %>
</div>
