<% provide :title, t(".title") %>
<h1><%= t(".title") %></h1>

<%= paginate @users %>

<ul class="users">
  <% @users.each do |user| %>
    <li>
      <%= gravatar_for user, size: Settings.USER_IMAGE_ON_LIST_SIZE %>
      <%= link_to user.name, user %>
      <% if current_user.admin? && !current_user?(user) %>
      | <%= link_to t(".delete"), user, method: :delete,
          data: { confirm: t(".confirm_delete") } %>
      <% end %>
    </li>
  <% end %>
</ul>

<%= paginate @users %>
