<% provide :title, t("signup") %>
<h1><%= t "signup" %></h1>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= form_for @user do |f| %>
      <%= f.label t ".user_name" %>
      <%= f.text_field :name %>

      <%= f.label t ".user_email" %>
      <%= f.email_field :email %>

      <%= f.label t ".user_password" %>
      <%= f.password_field :password %>

      <%= f.label t ".user_confirmation" %>
      <%= f.password_field :password_confirmation %>

      <%= f.submit t(".button_submit"), class: "btn btn-primary" %>
    <% end %>
  </div>
</div>
